body {
    font-family: Arial;
    background: #222;
    color: white;
    text-align: center;
}

.chat-container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

#chatbox {
    border: 1px solid white;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    background: orange;
    border: none;
}